
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

section {
    background-color: black;
}

.frontpage {
    background-color: black;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.frontpage p {
    font-size: 35px;
}

.fullname {
    color: orange;
}

footer {
    height: 200px;
    background-color: black;
}

nav {
    display: flex; /*flexbox*/
    justify-content: space-between; /*lägger flexboxarna på varsin sida av skärmen*/
}

ul {
    display: flex; /*flexbox*/
    list-style-type: none; /*tar bort punktmarkering*/
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none; /*tar bort underline på länkarna*/
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #39FF14;
}

a:active {
    color: #808080;
}

h1 {
    font-size: 70px;
    margin: 0;
    padding-bottom: 5px;
}

h2 {
    font-size: 35px;
}

p {
    margin: 0;
    font-size: 27px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
}

.frontpage-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.frontpage-text {
    margin-left: 80px;
    margin-bottom: 200px;
    width: 45%;
}

/*egen knapp klass som är egendesignad istället för att använda mig av button*/
.button {
    width: 200px;
    height: 55px;
    border-radius: 27px;
    font-size: 30px;
    font-weight: 300;
    background-color: #39FF14;
    text-align: center; /*lägger texten i mitten på knapparna*/
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
 
    background-color: #26ff009a;
}

.button a {
    color: black;
}

.button a:hover {
    color: white;
}

.button:active {
    background-color: #a9a9;
    color: #808080;
}

/*ger padding på 200px från nedre kant i min socialmedia klass*/
.socialmedia {
    padding-bottom: 200px;
}
/*margin på 20px så att mina ikoner för olika sociala medier ej hamnar på varandra*/
.social-item {
    margin: 20px;
}

.logo {
    height: 6vh;
    margin: 15px;
}

.subsection {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: white;
    color: black;
}

.subsection-projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.information {
    padding-right: 25%;
}

.imgelsa-container {
    display: flex;
    align-items: center;
}

.elsa-img {
    width: 300px;
    border-radius: 150px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 3px 3px 12px rgb(218, 154, 36);
    margin: 10px;
}

.project-img {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

/*stylar länken i projekt korten*/
.project-link {
    color: #39FF14;
    text-decoration: none;
}

.project-link:hover {
    color: #26ff009a;
}

.project-link:active {
    color: #808080;
}

/*css för kontaktformulär*/
/*grid för contact*/
.subsection-grid {
    padding: 80px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.contact {
    grid-column: 1 / 4;
    width: 80%;
    grid-row: 1 / 3;
}

/*skapar en vertikal orange linje i mitten av min grid i kontakt för att dela upp den i två delar*/
.vertical-line {
    border-left: 6px solid orange;
    height: 100%;
}
.vertical-line h2 {
    padding-left: 80px;
}

.socialmedia-contact {
    grid-column: 4 / 7;
    grid-row: 1 / 3;

}

.social-item-contact {
    padding-left: 80px;
    padding-bottom: 50px;
}

fieldset p {
    font-size: 16px;
}

label {
    font-size: 18px;
    font-weight: 400;
}


